/* Colors:
 * #039da6 blue
 * #a6192e red
 * #f5bb23 gold
 */

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin);

body {
  background: url("../images/texture.png");
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#header {
  background-color: #fcfcfb;  
  height: 75px;
  width: 100%;
}

#main-container {
  margin: 15px 5px;
}

.text-row {
  margin-bottom: 10px;
}

.lang-select {
  background-color: #039da6; /* blue */
  border: none;
  border-radius: 5px;
  color: #eee;
  margin: 5px 0;
  padding: 5px 10px;
}

#source-text {
  font-size: 32px;
  resize: none;
  margin: 5px 0;
}

#target-text {
  font-size: 32px;
  font-weight: bold;
  margin: 5px 0;
}

#translate-button {
  background-color: #f5bb23; /* gold */
  border: none;
  border-radius: 5px;
  color: #000;
  display: block;
  float: right;
  margin: 5px 0 5px 100%;
  padding: 5px 15px;
}
