/* Colors:
 * #039da6 blue
 * #a6192e red
 * #f5bb23 gold
 */

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans&subset=latin);

body {
  background: url("../images/texture.png");
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#header {
  width: 100%;
  height: 75px;
  background-color: #fcfcfb;
}

.text-row {
  margin-bottom: 10px;
}

.lang-select {
  color: #eee;
  background-color: #039da6; /* blue */
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

#source-text {
  font-size: 32px;
  resize: none;
}

#target-text {
  font-size: 32px;
  font-weight: bold;
}

#translate-button {
  display: block;
  float: right;
  color: #000;
  background-color: #f5bb23; /* gold */
  border: none;
  border-radius: 5px;
  margin: 5px 0 5px 100%;
  clear: both;
}

#header {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
}

#main-container {
  margin-left: 0px;
  margin-right: 0px;
  margin: 0px !important;
  width: 100% !important;
}

.banner-image {
  background-image: url('../images/wycliffeImage.png');
  background-size:cover;
  width: 100% !important;
  height: 200px;
  margin: 0px !important;
}

