  <div id="footer">
    <p>LinguiFlow is an <a href="https://www.urbana.org">Urbana 2015</a> <a href="http://www.hack4missions.org">Hack4Missions</a> project in partnership with <a href="https://www.wycliffe.org">Wycliffe Bible Translators</a>. Copyright &copy; 2015, All rights reserved.</p>
  </div>