	<div id="header">
	  <img id="lingui-img" src="../images/Linguiflow.png" alt="LinguiFlow Logo" .img-responsive>
	  <img id="wycliffe-img" src="../images/wycliffelogo.jpg" alt="Wycliffe Logo" .img-responsive>
	  <div class="banner-image row text-row"></div>
	</div>
